body,html {
    height:100%;
    margin:0;
}

/*page sections size */
body {
  display:flex;
  flex-direction: column;
  
}
#head{ 
    height:20%;
    flex: 2,1,auto;
    display:flex;
    /* to align title */
    justify-content: center;
    align-items: center;
}
#body{
    height:70%;
    flex: 7,1,auto;
    
    display:flex;
    flex-direction:column;
    padding-left: 25px;
    padding-right:25px;
    padding-top:20px;
    padding-bottom: 20px;
}
#foot {
    height:10%;
    flex: 1,1,auto;
}
/*-body elements */
#players {
    /*margin-top:20px;
    margin-left:25px;
    margin-right:25px;*/
    /*align playerName &computer*/
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/*-- screen elements*/
#screen {
   /* margin-bottom: 20px;
    margin-left:25px;
    margin-right:25px;*/
    padding:10px;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
}
.layout1,.layout2,.layout3{
    width:33.3%;
    padding:5px;
    display:flex;
    flex:1,1,auto;
    min-width:300px;
}
/*---layout1*/
.layout1{
    justify-content: space-around;
}
#choices {
    padding:5px;
    display:flex;
    flex-direction: column;
}
#rock,#paper,#scissor{ /*img*/
    border-radius: 50%;
    width: 90px;
    height:90px;
    transition: all .3s ease;
}

#playerChoice{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pChoiceimg,#cChoiceimg{ /*img*/
    width:150px ;
    height:153px;/*not auto cause imgs are diff size*/
    border-radius: 10%;
}
/*--layout2*/
.layout2{
    flex-direction: column;
    justify-content: space-around;
}
.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#scoreBoard {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#feedback{
    display:flex;
    justify-content: center;
    align-items: center;
}
#feedbacktext{
    text-align: center;
}
/*--layout3*/
.layout3 {
    justify-content: center;
    align-items: center;
}/* computer choice 
img (#cChoiceimg)is in line 78*/
/* Interactive effects */
.popup{
    transform: scale(1.5, 1.5) rotate(1turn);
    border-color: #ff0000;
    box-shadow: 0 0 1rem #48ff00;
}
.winner{
    border-color: black;
    box-shadow: 0 0 1rem green
}
.loser{
    border-color:darkred;
    box-shadow:0 0 1rem #e60000
}